<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Bird Nerd</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body ng-controller="GlobalController as global">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 ui-sref="Home">Bird Nerd</h2>
			<span flex></span>
			<div layout layout-align="center" ng-show="!global.status._id">
				<md-input-container>
		        	<label>Email</label>
		        	<input type="email" ng-model="global.user.email" />
			    </md-input-container>

			    <md-input-container>
			        <label>Password</label>
			        <input type="password" ng-model="global.user.password" />
			    </md-input-container>
				<md-button ng-click="global.login()">Login</md-button>
				<md-button class="button-padding" ui-sref="Register">Register</md-button>
			</div>
			<div layout layout-align="center" ng-show="global.status._id">
				<!--<md-button ui-sref="Profile">Profile</md-button>-->
				<md-button ng-click="global.logout()">Logout</md-button>
			</div>
		</div>
	</md-toolbar>



	<ui-view></ui-view>
	<!-- External Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
	<!-- Modules -->
	<script src="/javascript/app.js"></script>
	<!-- Services -->
	<script src="/javascript/services/BirdSightingFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/services/BirdFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/BirdController.js"></script>
	<script src="/javascript/controllers/CreateBirdController.js"></script>
	<script src="/javascript/controllers/UpdateBirdController.js"></script>




</body>
</html>
