<div layout ng-show="global.status._id">
    <span flex="5"></span>
    <md-button class="md-raised md-primary top-right-button" ui-sref="UpdateBird({id: vm.bird._id})"><i class="material-icons">mode_edit</i> Edit Bird</md-button>
    <md-button class="md-raised md-primary top-right-button" ng-click="vm.deleteBird($event)"><i class="material-icons">delete</i> Delete Bird</md-button>
    <span flex></span>
        <md-button class="md-raised md-primary top-right-button" ui-sref="CreateBirdSighting({id: vm.bird._id})"><i class="material-icons">note_add</i> Post a bird sighting</md-button>
    <span flex="5"></span>
</div>

<div layout layout-align="center">
    <div layout="column">
        <h1>{{vm.bird.name}}</h1>
        <img ng-src="{{vm.bird.imageUrl}}" ng-alt="{{vm.bird.name}}" />
        <h3><i>Description: </i>  {{vm.bird.description}}</h3>
        <h3><i>Date created: </i> {{vm.bird.dateCreated | date}}</h3>
    </div>
</div>

<div class="md-padding" layout="row" layout-wrap>
    <div flex="25" layout="column" ng-repeat="sighting in vm.sightings">
      <md-card>
        <img ng-src="{{sighting.imageUrl}}" class="md-card-image" style="height: 200px;">
        <md-card-content>
          <p>{{sighting.description}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" ui-sref="UpdateBirdSighting({birdId: vm.bird._id, sightingId: sighting._id})"><i class="material-icons">mode_edit</i></md-button>
          <md-button class="md-raised md-primary" ng-click="vm.deleteBirdSighting($event, sighting._id)"><i class="material-icons">delete</i></md-button>
        </md-card-actions>
      </md-card>
    </div>
</div>
