<div layout>
    <span flex="25"></span>
    <div layout="column" layout-align="center" flex>
        <md-card>
            <hgroup>
                <p>Post a bird sighting!</p>
            </hgroup>
            <form ng-submit="vm.createBirdSighting()">
                <md-input-container>
                    <label>Description</label>
                    <input type="text" ng-model="vm.sighting.description"/>
                </md-input-container>
                <md-input-container>
                    <label>Image URL</label>
                    <input type="text" ng-model="vm.sighting.imageUrl"/>
                </md-input-container>
                <div layout>
                    <span flex="35"></span>
                    <md-button class="md-raised md-primary" type="submit" flex>Post</md-button>
                    <span flex="35"></span>
                </div>
            </form>
        </md-card>
    </div>
    <span flex="25"></span>
</div>
