<div layout>
    <span flex="25"></span>
    <div layout="column" layout-align="center" flex>
        <md-card>
            <hgroup>
                <p>Create a new bird listing</p>
            </hgroup>
            <form ng-submit="vm.createBird()">
                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="vm.bird.name"/>
                </md-input-container>
                <md-input-container>
                    <label>Description</label>
                    <input type="text" ng-model="vm.bird.description"/>
                </md-input-container>
                <md-input-container>
                    <label>Image URL</label>
                    <input type="text" ng-model="vm.bird.imageUrl"/>
                    <!-- <label>Upload Image</label>
                    <input type="filepicker" data-fp-apikey="ANpkuJ5MYRSG3BDB14KgTz">
                    <md-button ng-click='vm.pick'></md-button> -->
                </md-input-container>
                <div layout>
                    <span flex="35"></span>
                    <md-button id="create-bird-submit" class="md-raised md-primary" type="submit" flex>Submit</md-button>
                    <span flex="35"></span>
                </div>
            </form>
        </md-card>
    </div>
    <span flex="25"></span>
</div>
