<h1 align="center">InterviewPrep</h1>
<h3>A user forum for sharing insight on interview questions and answers</h3>
<div layout ng-show="global.status._id">
    <span flex="5"></span><md-button class="md-raised md-primary top-right-button" ui-sref="CreateQuestion"><i class="material-icons">note_add</i> Create a new question</md-button><span flex="5"></span>
</div>


<md-content layout="row" layout-wrap>
    <div flex="90" layout="column" ng-repeat="question in vm.questions">
      <md-card layout='row' ui-sref="Question({id: question._id})">
          <h3>{{question.name}}</h3>
      </md-card>
    </div>
</md-content>
