<md-content layout layout-wrap>
    <div flex='33' ng-repeat="b in vm.birds">
        <md-card layout-padding layout='column' ui-sref='Bird({id: b._id})'>
            <img class="md-card-image" ng-src="{{ b.imageUrl }}" alt="image of a {{b.name}}" style="width: 90%; height: auto; max-height: 250px; margin: auto;">
            <md-card-content>
                <h2>{{b.name}}</h2>
                <p>{{b.desription}}</p>
                <p>{{ b.dateCreated | date:'medium' }}</p>
            </md-card-content>
            <!-- <div class="md-actions" layout="row" layout-align="center center">
                <md-button class="md-raised md-primary top-right-button" ui-sref="UpdateBird({id: vm.bird._id})"><i class="material-icons">mode_edit</i> Edit Bird</md-button>
                <md-button class="md-raised md-warn top-right-button" ng-click="vm.deleteBird($event, b._id)"><i class="material-icons">delete</i> Delete Bird</md-button> -->
            </div>
        </md-card>
    </div>
</md-content>
